#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.resumediv{
    background-color: turquoise;
}

.bottomtopbtnresume{
    width: 18px;
    height: 18px;
    position: fixed;
    background-color: #1a1a1a;
    right: 1px;
    bottom:310px;
    text-decoration: none;
  }