#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}


.projectsdiv{
    background-color:purple;
    min-height:100%;
    position:relative;
    height: 2000px;
}

/* .bottomtopbtnproj{
    width: 18px;
    height: 18px;
    position: fixed;
    background-color: #1a1a1a;
    right: 1px;
    bottom:310px;
    text-decoration: none;
  } */

  .bg-img-projects {
    /* The image used */
    background: url('../images/first_bg.jpg');
  
    min-height: 400px;
    height: 800px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    
  }