#logo{
    padding: 5px;
    padding-left: 5ex;
}



.homediv{
    background-color: white;
    min-height:100%;
    position:relative;
    height: 2000px;
}


.bg-img {
    /* The image used */
    background: url('../images/first_bg.jpg');
  
    min-height: 390px;
    height: 800px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* Needed to position the navbar */
    
  }


#footerhome{
    position:absolute;
    bottom:0;
    width:100%;
}

.bottomtopbtnresume{
    width: 18px;
    height: 18px;
    position: fixed;
    background-color: #1a1a1a;
    right: 1px;
    bottom:310px;
    text-decoration: none;
  }

  .title-home{
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      font-size:85px;
      padding-top: 200px;
  }

  .subtitle-home{
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 22px;
  }

  .profile_description{
    height: 200px;
    background-color: orange;
  }


  @media only screen and (max-width: 600px) {
    .title{
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        font-size:30px;
        padding-top: 130px;
    }
  }
