#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#logo{
    padding: 5px;
    padding-left: 5ex;
}

.test{
    font-family: fantasy;
}

.homediv{
    background-color: #ff6666;
    /* background-image: ('../images/first_bg.jpg'); */
}

